<%= provide(:title, 'Главная') %>
<% if user_signed_in? %>
    current_user.email

<% else %>
    <h1>Главная</h1>

    <%= link_to "Зарегистрируйтесь!", signup_path,
                class: "btn btn-large btn-primary" %>
<% end %>