<h1>Альбом: редактирование</h1>

<!-- navbar with tabs-->
<div class="row">
  <%= render partial: 'shared/edit_tabs', locals: {user_id: @user.id} %>
</div>

<div class="container">
  <div class="row">
    todo: album edit....
  </div>
</div>
