<div class="row">
  <div id="links">
    <%= @images.each do |image| %>
    <a href="<%= image %>"><%= image_tag image, size: '64x64' %></a>
    <% end %>
  </div>
</div>


<script>
    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
</script>