/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.first-col {
  background-color: #ffb51d;

}
.last-col {
  background-color: #ff9313;
}

.cntr-col {
  background-color: #e8eaff;
}

body {
  background-color: #E9EAED;
}

.name-header {
  background-color: #c7cfe1;
  color: #ff6b0e;
  font-size: 38px;
  padding-left: 30px;
}

.usr-avatar, .usr-data {
  padding-top: 20px;
}