<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@showman_type, url: after_signup_step_showman_update_path) do |f| %>
        <%= render partial: 'showman_types/partials/showman_types_form_fields', locals: {f: f} %>
        <%= f.submit 'Сохранить', class: 'btn btn-lrg btn-primary' %>
    <% end %>
  </div>
</div>