<footer class="footer">
  <small>
    <a href="http://socnet.org">Socnet</a>
    by Art Prestige
  </small>
  <nav>
    <ul>
      <li> <%= link_to "Помощь", help_path %> </li>
      <li><%= link_to "Контакты", contacts_path %> </li>
      <li><a href="http://socnet.org/">News</a></li>
    </ul>
  </nav>
</footer>